@model DeAnNhom.Models.Product
@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<h2 class="text-2xl font-semibold mb-4">Edit Product</h2>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" })) // Allow file uploads
{
    @Html.AntiForgeryToken()

    <div class="bg-white rounded-lg shadow p-6">
        @Html.ValidationSummary(true, "", new { @class = "text-red-500 mb-2" })
        @Html.HiddenFor(model => model.ProductID)

        <div class="mb-4">
            @Html.LabelFor(model => model.ProductName, new { @class = "block text-gray-700 font-bold mb-2" })
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-red-500 text-sm" })
        </div>

        <div class="mb-4">
            @Html.LabelFor(model => model.Decription, new { @class = "block text-gray-700 font-bold mb-2" })
            @Html.TextAreaFor(model => model.Decription, new { @class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" })
            @Html.ValidationMessageFor(model => model.Decription, "", new { @class = "text-red-500 text-sm" })
        </div>

        <div class="mb-4">
            @Html.LabelFor(model => model.Price, new { @class = "block text-gray-700 font-bold mb-2" })
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-red-500 text-sm" })
        </div>

        <div class="mb-4">
            @Html.LabelFor(model => model.Quantity, new { @class = "block text-gray-700 font-bold mb-2" })
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-red-500 text-sm" })
        </div>

        <div class="mb-4">
            @Html.LabelFor(model => model.Sizes, new { @class = "block text-gray-700 font-bold mb-2" })
            @Html.EditorFor(model => model.Sizes, new { htmlAttributes = new { @class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } })
            @Html.ValidationMessageFor(model => model.Sizes, "", new { @class = "text-red-500 text-sm" })
        </div>

    

        <div class="mb-4">
            @Html.LabelFor(model => model.ProductImage, new { @class = "block text-gray-700 font-bold mb-2" })
            <input type="file" name="ImageFile" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            @Html.ValidationMessageFor(model => model.ProductImage, "", new { @class = "text-red-500 text-sm" })
        </div>

        <div class="flex justify-start">
            <button type="submit" class="btn btn-default">
                Save
            </button>
            <div class="mt-4">
                @Html.ActionLink("Back to List", "Manage", "Product", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
